@import "~jquery-ui/themes/base/core";
.ui-slider {
  position: relative;
  text-align: left;
  background-color: rgba($black, 0.3);
  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: rem(16px);
    height: rem(16px);
    cursor: default;
    touch-action: none;
    background-color: $dark;
    outline: none !important;
    transition: $transition-base;
    transition-property: transform, background;
    &.ui-state-hover{
      background-color: $primary;
      transform: scale(1.4);
    }
  }
  .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background-color: $primary;
  }
  &.ui-state-disabled {
    .ui-slider-handle, .ui-slider-range {
      filter: inherit;
    }
  }
  &:before,
  &:after{
    position: absolute;
    bottom: 100%;
    width: 100%;
    margin-bottom: $grid-gutter-width/3;
  }
}
.ui-slider-horizontal {
  height: rem(2px);
  min-width: 200px;
  .ui-slider-handle {
    top: rem(-7px);
    margin-left: rem(-8px);
  }
  .ui-slider-range {
    top: 0;
    height: 100%;
  }
  .ui-slider-range-min {
    left: 0;
  }
  .ui-slider-range-max {
    right: 0;
  }
}
.ui-slider-vertical {
  width: rem(2px);
  height: 100px;
  .ui-slider-handle {
    left: rem(-7px);
    margin-left: 0;
    margin-bottom: rem(-8px);
  }
  .ui-slider-range {
    left: 0;
    width: 100%;
  }
  .ui-slider-range-min {
    bottom: 0;
  }
  .ui-slider-range-max {
    top: 0;
  }
}