.form-check__label {
  cursor: pointer;
  &:before{
    @include fi();
    content: '';
    font-size: 0.8em;
    position: absolute;
    left: 0;
    top: 0.2em;
    width: 1rem;
    height: 1rem;
    box-sizing: content-box;
    color: $primary;
    background-color: $dark;
    border: 1px solid $dark;
    text-indent: 1px;
    @each $color, $value in $theme-colors {
      .form-check_#{$color} &{
        color: $value
      }
    }
  }
  input[type='checkbox']:checked ~ &:before{
    content: map_get($icons, 'check');
    text-align: center;
    line-height: $font-size-base;
  }
  input[type='radio']:checked ~ &:before{
    background-color: $primary;
    box-shadow: inset 0 0 0 3px $dark;
    @each $color, $value in $theme-colors {
      .form-check_#{$color} &{
        background-color: $value
      }
    }
  }
}