.filter__control {
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  font-weight: $headings-font-weight;
  font-size: $h5-font-size;
  text-decoration: none;
  color: inherit;
}