.basket-widget__title {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3 1 0px;
  border-right: 5px solid;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  text-transform: uppercase;
  @include media-breakpoint-down(xs){
    display: none;
  }
}