.logo__slogan{
  flex: 1 1 0px;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  @include media-breakpoint-up(xxl){
    .header & {
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}