.card-product__label {
  font-size: $font-size-xs;
  font-weight: $font-weight-light;
  background-color: $light;
  padding: rem(5px);
  transition: $transition-base;
  transition-property: background-color;
  .card-product:hover & {
    background-color: $primary;
  }
  &:not(:last-child){
    margin-bottom: rem(5px);
  }
}