.card-request {
  display: block;
  background-color: $light;
  color: inherit;
  transition: $transition-base;
  transition-property: background-color;
  font-size: $font-size-sm;
  padding: rem(20px);
  border-left: 5px solid $primary;
  text-decoration: none;
  min-height: 100%;
  height: 100%;
  &:hover{
    color: inherit;
    background-color: $primary;
  }
}