.filter__title {
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  font-weight: $headings-font-weight;
  font-size: $h5-font-size;
  padding-top: $filter-padding-vertical;
  padding-bottom: $filter-padding-vertical;
  padding-left: $filter-padding-horizontal;
  padding-right: $filter-padding-horizontal * 2;
  display: block;
  text-decoration: none;
  position: relative;
  @include plain-hover-focus(){
    color: inherit;
  }
  &:after{
    @include fi();
    content: map_get($icons, 'minus');
    position: absolute;
    right: 0;
    padding-left: $filter-padding-horizontal;
    padding-right: $filter-padding-horizontal;
  }
  &.collapsed:after{
    content: map_get($icons, 'plus');
  }
}