.toolbar {
  display: flex;
  font-size: rem(13px);
  align-items: baseline;
  justify-content: space-between;
  padding-top: $grid-gutter-width/3;
  padding-bottom: $grid-gutter-width/3;
  .a, a{
    color: inherit;
    text-decoration: none;
    @include hover(){
      color: inherit;
      text-decoration: underline;
    }
  }
}