.card-teaser {
  display: block;
  background-color: $light;
  color: inherit;
  transition: $transition-base;
  transition-property: background-color;
  padding: $grid-gutter-width;
  &:hover{
    color: inherit;
    text-decoration: none;
    background-color: $primary;
  }
}