.search__control {
  top: 0;
  left: 0;
  border: $input-border-width solid transparent;
  padding: $input-btn-padding-y rem($grid-gutter-width / 1.5);
  position: absolute;
  background: none;
  font-size: $h4-font-size;
  line-height: $input-line-height - $h4-font-size / $font-size-base;
  cursor: pointer;
  @include hover-focus-active{
    outline: none;
  }
}