.card-teaser__caption {
  @include media-breakpoint-down(lg){
    text-align: center;
    width: 100%;
    flex-basis: 100%;
    padding-bottom: $grid-gutter-width/2;
    &:not(:first-child){
      padding-top: $grid-gutter-width/2;
    }
  }
  @include media-breakpoint-up(xl){
    flex: 10 1 200px;
    padding: $grid-gutter-width/2;
  }
}