.detail__col {
  padding-top: $grid-gutter-width/2;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  padding-bottom: $grid-gutter-width/2;
  width: 100%;
  flex: 1 1 100%;
}