.pagination-fluid {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  &:before,
  &:after{
    content: '';
    pointer-events: none;
    top: 0;
    bottom: 0;
    width: $grid-gutter-width * 4;
    z-index: 10;
    position: absolute;
  }
  &:after{
    right: 0;
    background-image: linear-gradient(to right, rgba($body-bg, 0), rgba($body-bg, 1));
  }
  &:before{
    left: 0;
    background-image: linear-gradient(to left, rgba($body-bg, 0), rgba($body-bg, 1));
  }
}