.form-check_size {
  &_sm{
    font-size: $font-size-xs;
    line-height: $line-height-sm;
    .form-check__label:before{
      top: 0.1rem
    }
  }
  &_lg{
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    .form-check__label:before{
      top: 0.1rem
    }
  }
}