.logo__image {
  flex: 1 1 0px;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  .img{
    border: 5px solid;
    border-color:  $body-color;
    background-color: $body-color;
    width: 100%;
    @include media-breakpoint-down(xs){
      width: 200px;
    }
  }
}
