.smart-overflow {
  position: relative;
  overflow: hidden;
  &__collapse{
    position: relative;
    max-height: $page-min-width;
    overflow: hidden;
    padding-bottom: $grid-gutter-width;
    &.show{
      max-height: none;
    }
  }
  &__link{
    display: flex;
    align-items: center;
    position: absolute;
    top: $page-min-width;
    height: $grid-gutter-width;
    margin-top: -$grid-gutter-width;
    background-color: $body-bg;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 20px 10px $body-bg;
    span{
      display: inline;
      +span{
        display: none;
      }
    }
    .smart-overflow__collapse.show ~ &{
      top: 100%;
      span{
        display: none;
        +span{
          display: inline;
        }
      }
    }
  }
}