.filter__panel {
  padding-left: $filter-padding-horizontal;
  padding-right: $filter-padding-horizontal;
  &:first-child{
    padding-top: $filter-padding-vertical;
  }
  .form-check:not(:last-child){
    margin-bottom: $grid-gutter-width/6;
  }
  &:after{
    content: '';
    display: block;
    padding-top: $filter-padding-vertical;
  }
}