$page-min-width: 320px !default; // Ширина самого узкого поддерживаемого экрана

//  Цвета:
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffd100 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary:       $yellow !default;
$secondary:     $gray-300 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$lighten:       $gray-100 !default;
$dark:          $gray-700 !default;

$theme-colors: (
        "lighten":      $lighten,
) !default;

$enable-rounded:            false !default;

// Spacing
$grid-gutter-width:           30px !default;
$spacer:                      rem($grid-gutter-width) !default;
$spacers: (
  auto: 'auto',
) !default;

// Body
$body-bg:       $white !default;
$body-color:    $dark !default;

// Links
$link-color:                $primary !default;
$link-decoration:           underline !default;
$link-hover-decoration:     none !default;
$link-hover-color:          $link-color !default;

// Fonts
$font-size-lg:                rem(18px) !default;
$font-size-sm:                rem(14px) !default;
$font-size-xs:                rem(12px) !default

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

// Icons
$icons-font-family:           'Komtrast' !default;
$icons: () !default;
$icons: map-merge((
        new: "\e91a",
        top: "\e91b",
        certificate: "\e913",
        comment: "\e914",
        guide: "\e915",
        like: "\e916",
        label: "\e917",
        quotes-left: "\e918",
        quotes-right: "\e919",
        filter: "\e912",
        book: "\e911",
        bar-dot: "\e910",
        check: "\e90f",
        bar: "\e90e",
        times: "\e90d",
        heart: "\e90c",
        user-o: "\e901",
        angle-left: "\e902",
        angle-up: "\e903",
        angle-down: "\e904",
        angle-right: "\e905",
        minus: "\e906",
        plus: "\e907",
        search: "\e908",
        shopping-basket: "\e909",
        star: "\e90a",
        star-o: "\e90b",
        mark: "\e900",
        iv: "\e91c",
), $icons);


$font-family-sans-serif:      'Open Sans', sans-serif !default;
$headings-font-family:        'Roboto Slab', serif !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1.3 !default;
$headings-color:              inherit !default;

$h1-font-size:                rem(36px) !default;
$h2-font-size:                rem(36px) !default;
$h3-font-size:                rem(30px) !default;
$h4-font-size:                rem(24px) !default;
$h5-font-size:                rem(18px) !default;
$h6-font-size:                rem(16px) !default;

$headings-margin-bottom:      $spacer !default;

$mark-bg:                     $primary !default;
$mark-padding:                0 !default;

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1920px
) !default;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1830px
) !default;

// Buttons + Forms
$input-btn-padding-y:         rem(10px) !default;

// Filter
$filter-padding-vertical: 20px;
$filter-padding-horizontal: 25px;

// Form-check
$form-check-input-gutter:     $grid-gutter-width !default;


// Pagination
$pagination-active-color: $dark;
$pagination-hover-color: $dark;

$yiq-text-dark: $dark !default;

$paragraph-margin-bottom: $grid-gutter-width;