.form-check__color {
  line-height: 0;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 3px;
  box-sizing: content-box;
  border: 1px solid transparent;
  vertical-align: text-bottom;
  position: relative;
  left: -0.3em;
  background: $white;
}