.header{
  flex-shrink: 0;
  background-color: $light;
  margin-bottom: 50px;
  .container{
    @include media-breakpoint-up(xxl){
      border-left: 1px solid rgba($black, .1);
      border-right: 1px solid rgba($black, .1);
      &:first-child{
        border-bottom: 1px solid rgba($black, .1);
      }
    }
  }
}