.footer{
  flex-shrink: 0;
  background-color: $dark;
  color: $white;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  font-size: $font-size-sm;
  .a, a{
    text-decoration: none;
  }
}