html{
  font-size: $rem-baseline;
  height: 100%;
}
body{
  &.ua-touch{overflow-y: scroll}
}
body{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-width: $page-min-width;
  min-height: 100vh;
}