.filter__label {
  position: absolute;
  left: 100%;
  width: $grid-gutter-width * 1.5;
  height: $grid-gutter-width * 1.5;
  background-color: $primary;
  bottom: $grid-gutter-width;
  text-align: center;
  font-size: $h4-font-size;
  display: none;
  margin-left: 5px;
  @include media-breakpoint-down(md){
    display: block;
  }
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    line-height: 1;
  }
  .filter.show &{
    .fi:before{
      content: map_get($icons, 'times');
    }
  }
}