.pagination-fluid__control {
  z-index: 20;
  top: 0;
  &[aria-disabled]{
    position: absolute;
  }
  .page-link{
    //color: $pagination-active-color;
    //transition: $transition-base;
  }
  &_next{
    right: 0;
  }
  &_prev{
    left: 0;
  }
}