.developer {
  font-size: $font-size-sm;
  white-space: nowrap;
  a, .a{
    vertical-align: middle;
    @include plain-hover-focus(){
      color: inherit;
      text-decoration: none;
    }
  }
  .fi{
    font-size: 1.5em;
    vertical-align: middle;
  }
}