// колонка на 10 для xxl
@for $i from 1 through 10 {
  @include media-breakpoint-up(xxl){
    .col-xxl-10-#{$i} {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: ($grid-gutter-width / 2);
      padding-left: ($grid-gutter-width / 2);
      @include make-col($i, 10);
    }
  }
}