.pagination {
  font-family: $headings-font-family;
  display: flex;
  align-items: center;
  line-height: 1;
  @include list-unstyled();
}

.page-link {
  border-top: 1px solid $gray-100;
  border-bottom: 1px solid $gray-100;
  border-left: 1px solid $gray-100;
  &:last-child{
    border-right: 1px solid $gray-100;
  }
  position: relative;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: $pagination-line-height;
  color: $pagination-color;
  background-color: $pagination-bg;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    z-index: 2;
    color: $pagination-hover-color;
    text-decoration: none;
    background-color: $pagination-hover-bg;
  }

  &:focus {
    z-index: 2;
    outline: $pagination-focus-outline;
  }

  // Opinionated: add "hand" cursor to non-disabled .page-link elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.page-item {
  &.active .page-link {
    z-index: 1;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-bg;
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    cursor: auto;
    background-color: $pagination-disabled-bg;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
