h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  &:not(:first-child){
    margin-top: $headings-margin-bottom * 1.5;
  }
  .a {
    color: inherit;
    transition: $transition-base;
    transition-property: background-color;
    @include hover{
      background-color: $primary;
    }
  }
  .fi{
    font-size: 2em;
    vertical-align: middle;
    min-width: 1.5em;
    text-align: center;
    display: inline-block;
  }
}
h1, .h1 {
  @include GatewayForProperty($h4-font-size, $h1-font-size, $page-min-width, map_get($grid-breakpoints, xxl));
}
h2, .h2 {
  @include GatewayForProperty($h4-font-size, $h2-font-size, $page-min-width, map_get($grid-breakpoints, xxl));
}
h3, .h3 {
  @include GatewayForProperty($h6-font-size, $h3-font-size, $page-min-width, map_get($grid-breakpoints, xxl));
}
h4, .h4 {
  @include GatewayForProperty($h6-font-size, $h4-font-size, $page-min-width, map_get($grid-breakpoints, xxl));
}
p:last-child{
  margin-bottom: 0;
}