.text-small {
  font-size: $font-size-sm !important;
}
.text-large {
  font-size: $font-size-lg !important;
}
.text-dashed{
  border-bottom: 1px dashed;
  @include hover-focus-active(){
    text-decoration: none;
  }
}
.d-landscape-none{
  @media (orientation: landscape) {
    display: none;
  }
}
.d-portrait-none{
  @media (orientation: portrait) {
    display: none;
  }
}
.clear-left{
  clear: left !important;
}
.clear-right{
  clear: right !important;
}
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .clear#{$infix}-left {
      clear: left !important;
    }
    .clear#{$infix}-right {
      clear: right !important;
    }
    .text#{$infix}-small {
      font-size: $font-size-sm !important;
    }
    .text#{$infix}-large {
      font-size: $font-size-lg !important;
    }
    .bg#{$infix}-transparent {
      background-color: transparent !important;
    }
  }
}

