.manufacturer__link {
  &:after{
    min-width: 1.5em;
    content: attr(data-count);
    font-weight: $font-weight-bold;
    padding-left: ($h5-font-size * ($headings-line-height - 1));
    padding-right: ($h5-font-size * ($headings-line-height - 1));
    background-color: $primary;
    color: $dark;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
  }
}