.logo {
  //display: flex;
  display: block;
  font-size: rem(13px);
  line-height: $headings-line-height;
  align-items: center;
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;
  @include plain-hover-focus(){
    color: inherit;
    text-decoration: none;
  }
}