.basket-widget {
  position: absolute;
  font-size: rem(20px);
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-align: center;
  border: 5px solid;
  left: $grid-gutter-width/2;
  right: $grid-gutter-width/2;
  @include plain-hover-focus(){
    color: inherit;
    text-decoration: none;
  }
  &:after{
    content: attr(data-count);
    white-space: nowrap;
    flex: 0 1 100px;
    background-color: $primary;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: $transition-base;
    transition-property: background-color;
  }
  @include media-breakpoint-down(xs){
    border: none;
    &:after{
      position: absolute;
      bottom: 50%;
      left: 50%;
      padding-left: rem(5px);
      padding-right: rem(5px);
      height: auto;
    }
    &:before{
      @include fi();
      content: map_get($icons, 'shopping-basket');
      flex: 1 1 0px;
      font-size: $h2-font-size;
    }
  }
}
.basket-widget[data-count="0"]:after{
  background-color: transparent;
  @include media-breakpoint-down(xs){
    content: none !important;
  }
}