.card-news__description {
  font-size: rem(13px);
  line-height: 1.6;
  .image{
    width: 160px;
    float: left;
    margin-right: $grid-gutter-width;
    margin-bottom: 0.5em;
    max-width: 20%;
    min-width: 100px;
  }
}