.card-teaser__image {
  flex: 1 0 140px + $grid-gutter-width; // 140 Ширина ожидаемого изображения
  padding: $grid-gutter-width/2;
  text-align: center;
  @include media-breakpoint-down(lg){
    &:not(:last-child){
      padding-bottom: 0;
    }
  }
}