.nav_inline {
  .nav-item{
    .nav-link{
      padding: 0;
      text-decoration: none;
      @include hover(){
        text-decoration: underline;
      }
    }
    &:not(:last-child){
      .nav-link{
        padding-right: $grid-gutter-width/2;
      }
    }
  }
}