.detail__row {
  @include clearfix();
  margin-left: $grid-gutter-width/-2;
  margin-right: $grid-gutter-width/-2;
  margin-bottom: $grid-gutter-width/-2;
  margin-top: $grid-gutter-width/-2;
  @include media-breakpoint-down(lg){
    display: flex;
    flex-flow: row wrap;
  }
}