.navigation__item {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width/2;
  font-weight: $font-weight-normal;
  margin-bottom: 0;
  @include media-breakpoint-down(md){
    &:not(:last-child){
      margin-bottom: ($headings-line-height/3) + em;
    }
  }
}