.filter {
  font-family: $font-family-sans-serif;
  background-color: $lighten;
  position: relative;
  @include media-breakpoint-up(lg){
    border-radius: $grid-gutter-width/6;
  }
  @include media-breakpoint-down(md){
    border-right: 5px solid $primary;
    z-index: $zindex-modal;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    right: 100%;
    height: 100%;
    max-width: 100vh;
    background-color: $gray-100;
    overflow: visible;
    transform: translateX(0%);
    width: $page-min-width;
    transition: $transition-base;
    transition-property: transform;
    @include media-breakpoint-down(xs){
      width: $page-min-width - $grid-gutter-width * 1.5;
    }
    &.show{
      transform: translateX(100%);
    }
  }
}