.main__sidebar {
  @include media-breakpoint-up(lg){
    opacity: 1 !important;
    @supports (position: sticky) {
      transform: translate3d(0, 0, 0);
      z-index: 10;
      overflow: hidden;
      position: sticky;
      top: 0;
      &:not(.position-relative){
        max-height: 100vh;
      }
    }
  }
}