.detail__col_pull {
  @include media-breakpoint-up(xl){
    &_left{
      float: left;
      clear: left;
      width: percentage(5 / $grid-columns);
    }
    &_right{
      margin-left: percentage(5 / $grid-columns);
      width: percentage(7 / $grid-columns);
    }
  }
}