.container {
  @include media-breakpoint-up(xl){
    max-width: map_get($container-max-widths, xl);
  }
  @each $key, $value in $container-max-widths {
    @include media-breakpoint-up($key){
      &-#{$key}{
        max-width: $value;
      }
    }
  }
}